body{
 
    padding-top: 20px;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1530482817083-29ae4b92ff15?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80); 
    background-size: cover;
    padding-bottom: 20px;
  }
  
  
  .jumbotron {
    font-family: 'Sarina';
    box-shadow: 12px 10px 16px rgb(124, 124, 133);
    opacity: 0.6;
    text-align: center   
  }
  
  .display-4, .lead {
    text-align: center;
    font-family: ''Quicksand', sans-serif';
  }
  
  p {
    font-family: 'Raleway';
    font-weight: 500;
  }
  
  img{
    border: 6px solid white;
    transition: transform .2s;
    height: auto;
    max-width: 25%;
    border-radius: 3%;
    margin: 1.5em;
  }
  
  img:hover{
    transform: scale(1.16);
    -webkit-transform: scale(1.16);
    -ms-transform: scale(1.16);
  }
  
  
  button {
  font-family: 'Abril Fatface', cursive;
  float: center;
  font-style: normal;
  border-radius: 10%;
  padding: 20px;
  border: 2px solid rgb(25, 25, 48);
  background-color: lightskyblue;
  }
  
  button:hover{
    transform: scale(1.12);
  }
  
  div {
    text-align: center;
  }
  
  #selectTracker, h4 { 
    color: white;
    background: grey;
    font-size: 1.5em;
    font-family: 'Sarina';
    border-radius: 3%;
    width: 30%;
    margin: 20px auto 50px;
  }
  
  #busChart {
    height: auto;
    width:10px;
  }